<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
    <title>RCV Tabulator - {% block title %}{% endblock %}</title>
    {% block head_scripts %}{% endblock %}
</head>

<body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <a class="navbar-brand">RCV Tabulator</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="flex-column">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('index') }}">Tabulator</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('instructions') }}">Instructions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('example') }}">Example</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message|safe }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
    {% endfor %}
    {% endwith %}


    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col col-lg-10 offset-lg-1">
                <h3>{{ self.title() }}</h3>
                <hr>
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col col-lg-10 offset-lg-1">
                <hr>
                Powered by <a href="https://pypi.org/project/pyrcv/{{ pyrcv_version }}/">pyrcv v{{ pyrcv_version }}</a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    {% block scripts %}{% endblock %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('nav a').filter(function () {
                return window.location.toString() == this.href;
            }).addClass('active');
        });
    </script>
</body>

</html>