asttokens==2.4.1
blinker==1.9.0
click==8.3.1
Flask==3.1.2
Flask-WTF==1.2.2
icontract==2.7.2
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
narwhals==2.13.0
numpy==2.3.5
packaging==25.0
pandas==2.3.3
plotly==6.5.0
pyrcv==1.2.1
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
typing_extensions==4.15.0
tzdata==2025.2
Werkzeug==3.1.5
WTForms==3.2.1
